#hero {
  width: 100%;
  height: 75vh;
  /* background: url("../assets/gallery/bg-masthead.jpg") top center; */
  background: linear-gradient(to bottom, rgba(122, 122, 122, 0.4) 0%, rgba(58, 16, 16, 0.5) 100%), url("../assets/gallery/bg-masthead.jpg") top center;
  background-size: cover;
  position: relative;
  border-bottom: 50px solid rgba(163,30,30,1);
  /* border-top: 50px solid rgba(163,30,30,1); */
}
  

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 30px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  border: 2px solid rgba(163,30,30,1);
  color: #fff;
}

#hero .btn-get-started:hover {
  background: rgba(163,30,30,.9);
  border: 2px solid rgba(163,30,30,1);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }

  #hero h1,
  #hero h2 {
    width: 50%;
  }
}

@media (max-width: 850px) {
  #hero {
    height: 100vh;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 850px)  {
  #hero {
    height: 75vh;

  }
  #hero h1 {
  margin: 0 0 30px 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  color: rgb(255, 253, 253);
  }

}


body {
overflow-x: hidden;
}