            /* Firefox */
            * {
                scrollbar-width: thin;
                scrollbar-color: #333;
              }
              
              /* Chrome, Edge and Safari */
              *::-webkit-scrollbar {
                width: 5px;
                width: 5px;
              }
              *::-webkit-scrollbar-track {
                border-radius: 5px;
                background-color: rgb(158, 158, 158);
              }
              
              *::-webkit-scrollbar-track:hover {
                background-color: rgba(158, 158, 158, .9);
              }
              
              *::-webkit-scrollbar-track:active {
                background-color: rgba(158, 158, 158, .9);
              }
              
              *::-webkit-scrollbar-thumb {
                border-radius: 2px;
                background-color: #333;
              }
              
              *::-webkit-scrollbar-thumb:hover {
                background-color: #333;
              }
              
              *::-webkit-scrollbar-thumb:active {
                background-color: #333;
              }