/* created by brian @ brm.dev - use with boostrap5  */
/* color code below will change colors throughout  */
.banner{
    background-color: #333;
}

.main {
    margin: 25px auto 25px auto;
    padding: 10px 8px 10px 8px;
    border-radius: 2px;
    background-color: #fdfdfd;
    border: 1px solid rgb(45, 45, 45);
    box-shadow: 4px 8px 20px 1px rgb(8, 8, 8);
}

.sidebar {
    margin: 25px auto 25px auto;
    padding: 10px 8px 10px 8px;
    border-radius: 2px;
    background-color: #d2d2d2;
    border: 1px solid rgb(31, 29, 29);
    box-shadow: 4px 8px 20px 1px rgb(39, 38, 38);
}
.ad {
    margin: 25px auto 25px auto;
    padding: 10px 8px 10px 8px;
    border-radius: 2px;
    background-color: #fdfdfd;
    border: 1px dashed rgb(37, 168, 20);
    box-shadow: 4px 8px 20px 1px rgb(8, 8, 8);
    height: 25vh;
}
.topbar {
    height: 100vh;
    margin: 0px auto 25px auto;
    padding: 10px 8px 10px 8px;
    background-color: #333;
    border: 2px solid rgb(20, 67, 168);
    box-shadow: 4px 8px 20px 1px rgb(8, 8, 8);
}
html, body {
    /* prevent mobile scroll x  */
    overflow-x: hidden;
}

body {
    /* prevent mobile scroll x  */
    position: relative;
    background-color: #ffffff;
}


:root{
    /* primary color and shades  */
    /* set for styles below - changes global  */
    --bg-primary: rgb(25, 57, 160);
    --bg-primary-off: rgb(19, 33, 139);
    --bg-primary-dark: rgb(21, 48, 130);
    --bg-primary-contrast: rgb(255, 255, 255); 
    --bg-primary-link: rgb(15, 15, 15);
    --text-white: rgb(240, 240, 240);
    --text-black: rgb(0, 0, 0);
    --bg-icon: rgb(224, 138, 26);
    --bg-icon-hover: rgb(235, 111, 11);
    --font-primary: ''Montserrat', sans-serif';
    --font-secondary: "Roboto", Sans-serif;
    /* set for styles below - changes global  */
    /* primary color and shades  */

    /* color bank  */
    --bg-alert: rgb(209, 166, 24);
    --bg-vivid-rgb: rgba(216, 98, 44, 1);
    --bg-vivid: #ff6900;
    --bg-color-dark: #333;
    --bg-mack: rgb(201, 201, 201);
    --bg-color-light: #abb8c3;
    --bg-color-black: #000000;
  
    /* CONTAINER HEIGHT ADJUSTMENTS */
    --banner-bar-height: 33px;
    --banner-height: auto;
    --nav-height: 80px;
    --wrapper-height: auto;
    --footer-bar-height: 50px;
}

/* ===========  GLOBAL ====================  */
* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-primary);
    font-size: 16px;
    letter-spacing: normal;
    color: var(--text-black);
    -webkit-tap-highlight-color: transparent;
}

/* mobile blue hightlight on touch remove  */
select,
button,
textarea,
input {
    -webkit-tap-highlight-color: transparent;
}
.container-fluid {
    margin:0px;
    padding:0px;
} /* bootstrap reset */
.divider {
    width: 90%;
    height: 2px;
    background-color: var(--bg-primary-dark);
    margin: auto auto 10px auto;
}
.color-primary {
    background-color: var(--bg-primary);
}

/* ==========  FONTS ========== */
.text-roboto {
    font-family: "Roboto", Sans-serif;
}
.text-mont {
    font-family: 'Montserrat', sans-serif;
}
.text-elite {
    font-family: 'Special Elite', cursive;
}
.img-box {
    width: 220px;
    padding: 30px 4px 32px 8px;
    margin: 18px auto;
    border: 3px solid rgb(192, 192, 192);
    box-shadow: 7px 8px 32px 10px rgba(199, 199, 199, 0.4);
}

/* ========== BUTTONS ==========  */
.btn-outline {
    display: inline block;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.1px;
    padding: 10px 18px;
    border-radius: 5px;
    border: 3px solid var(--bg-primary);
    color: var(--bg-primary-contrast);
    text-decoration: none;
    transition: 0.2s;
    background-color: transparent;
}
.btn-outline a {
    color: var(--bg-primary-contrast);
}
.btn-outline:hover {
    background-color: var(--bg-primary-off);
    border: 3px solid var(--bg-primary);
    color: var(--bg-primary-contrast);
}
.btn-solid {
    display: inline block;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.1px;
    padding: 10px 18px;
    border-radius: 5px;
    border: 3px solid var(--bg-primary-off);
    background-color: var(--bg-primary);
    color: var(--bg-primary-contrast);
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}
.btn-solid:hover {
    background-color: var(--bg-primary-dark);
    border: 3px solid var(--bg-primary-off);
    box-shadow: 1px 1px var(--bg-primary-dark);
    color: var(--bg-primary-contrast);
}


/* == 3 CONTAINERS .BANNER .NAV-BAR .WRAPPER == */
.banner {
    max-height: var(--banner-height);
    /* for adjustable banner height below  */
    /* height: var(--banner-height); */
    width: 100%;
    margin: 0px;
    margin-bottom: 6px;
    padding: 0px;
    padding-top: 2px;
} 
.nav-bar {
    width: 100%;
    background-color: var(--bg-primary);
    margin: 0px auto 0px auto;
    padding: 0px;
} 
@media (max-width:500px) {
    .nav-bar {
        box-sizing: border-box;
        overflow: hidden;
    }
    .navbar {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }    
}
@media (min-width: 850px){
    .navbar {
        width: 80vw;
    }
    .nav-bar{
        display: flex;
        justify-content: center;
    }
}
.wrapper {
    height: var(--wrapper-height);
    margin: 0px;
    padding: 0px;
}   
.navbar {
    margin: 0px;
    padding: 0px;
    z-index: 1000;
}
/* NAV-BAR FIXED AT BANNER HEIGHT WITH JS */
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;

}


/* === BANNER STYLE =========  */
.banner-bar {
    background-color: #333;
    box-shadow: 1px 2px 2px 0px gray;
    margin-bottom: 3px;
    height: var(--banner-bar-height);
    width: 100vw;
}

/* remove second image mobile  */
@media (max-width: 730px) {
    #bannerImg2 {
        display: none;
    }
}
/* === BANNER END/  =========  */

/* ======== NAVBAR ============  */
/* boostrap resposive with styling  */

/* responsive menu  */
.navbar-nav {
    background-color: var(--bg-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px;
}
/* top menu item */
.nav-bar .active {
    box-sizing: border-box;
    background-color: var(--bg-primary-dark);
    box-shadow: 2px 3px 3px  var(--bg-primary-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 0px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: var(--bg-primary-link);
}
/* text  */
.navbar-nav .nav-item .nav-link {
    color:var(--bg-primary-link);
    padding: 8px 6px;
    padding-left: 25px;
    margin: 0px;
}
@media (max-width: 800px) {
    .navbar-nav .nav-item .nav-link{
        cursor: default; 
        outline: none;
    }     
}
.nav-bar .navbar-collapse .navbar-nav {
    box-sizing: border-box;
}
.nav-bar .navbar-collapse ul .active > .nav-link {
    color: var(--bg-primary-contrast);
    box-shadow: 1px 0px 0px 0px var(--bg-primary-dark);
    border: 1px solid var(--bg-primary);
} 
.navbar-nav .nav-item .nav-link:not(:last-child){
    box-shadow: 1px 0px 1px var(--bg-primary-contrast);
    color: var(--bg-primary-link);  
}
.navbar-nav .nav-item .nav-link:not(:last-child):hover
 {  
    background-color: var(--bg-primary);
    color: var(--bg-primary-contrast);
    width: 100%;
    padding: 8px 6px;
    padding-left: 25px;
    margin-right: 25px;
}
.navbar-nav .nav-item .active {
    color:  var(--bg-primary-link);
}
/* drop down link  - middle ones */
.dropdown {
    box-sizing: border-box;
    border-radius: 0px;
    background-color: var(--bg-primary-contrast);
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 0px 0px  var(--bg-primary-dark);
}
.navbar-nav .nav-item .dropdown-item {
    padding: 8px 6px;
    padding-left: 25px;
    margin: 0px;
}
.navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
    color: var(--bg-primary-link);
    box-shadow: 2px 0px 0px var(--bg-primary-dark);
    background-color: var(--bg-primary-contrast);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.navbar-collapse .navbar-nav .nav-item:nth-last-child(1):hover {
    background-color: var(--bg-primary);
    color: var(--bg-primary-link);
}
.dopdown-menu a:hover {
    background-color: var(--bg-primary);
    padding-left: 25px;
    margin: 0px;
}
.dropdown-item {
    padding: 8px 6px;
    margin: 0px;
}
.dropdown-item:hover {
    background-color: var(--bg-primary);
    color:  var(--bg-primary-contrast);;
    width: 100%;
    padding: 8px 6px;
    margin: 0px;
}
.navbar-collapse .navbar-nav .nav-item:nth-last-child(1) .nav-link:hover {
    color: var(--bg-primary-contrast);  
}
.navbar i {
    color: var(--bg-icon);
    transition: .3s;
}
.navbar i:hover {
    color: var(--bg-icon-hover);
}
/* full menu  */
@media (min-width: 990px) {
    .navbar-nav {
        background-color: var(--bg-primary);
        margin: 8px;
        box-shadow: none;  
    }
    .nav-bar .active {
        background-color: var(--bg-primary);
        box-shadow: 0 0 0 0;
        padding-left: 0px;
        margin: 0px;
    }
    div .dropdown-menu {
        border: 4px;
        border-radius: 0px;
        margin: 0px;
    }
    .nav-bar .navbar-brand{
        box-sizing: border-box;
    }
    .navbar-nav .nav-item .nav-link:not(:last-child):hover { 
        color:rgb(15, 15, 15);
        letter-spacing: px;
        font-weight: bold;
        padding: 1px 16px;
        padding-left: 25px;
        margin: 0px;
        box-shadow: none;
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
        color: rgb(0, 0, 0);
        border-radius: 0px;
        background-color: var(--bg-primary-contrast);
        box-shadow: none;
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1):hover {
        background-color: var(--bg-primary);
        color: var(--bg-primary-contrast);
    }
    .nav-bar .navbar-collapse ul .active > .nav-link {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: none;
        border: none;
    } 
    .navbar-nav .nav-item .nav-link {
        color:rgb(15, 15, 15);
        font-weight: bold;
        padding: 1px 16px;
        padding-left: 25px;
        margin: 0px;
    }
    .nav-bar .navbar-collapse ul .active > .nav-link {
        box-shadow: none;
    }
    .navbar-nav .nav-item .nav-link:hover {
        background-color: var(--bg-primary);
        color: white;
        width: 100%;
        padding: 1px 16px;
        padding-left: 25px;
        margin: 0px;
    }
    .navbar-nav .nav-item .active {
        color: white;
    } 
    .navbar-nav .nav-item a {
        padding: 8px 16px;
        padding-left: 25px;
        background-color: var(--bg-primary);
    } 
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
        margin: 0px;
    }
    .navbar-nav .nav-item .nav-link:not(:last-child){
        box-shadow: none;
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1):hover {
        margin: 0px;
    }
    .navbar-nav .nav-item .dopdown-menu {
        padding: 12px 16px;
        padding-left: 25px; 
        margin: 0px;
    }
    .navbar-nav .nav-item .dopdown-menu a:hover {
        background-color: var(--bg-primary-contrast);
        padding: 12px 6px;
        padding-left: 25px;    
        background-color: var(--bg-primary-contrast);
        margin: 0px;
    }
    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        padding: 12px 6px;
        padding-left: 25px;
        background-color: var(--bg-primary-contrast);
        margin: 0px;
    }
    .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: var(--bg-primary-contrast);   
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) .nav-link:hover {
        color: var(--bg-primary-contrast);   
    }
    .navbar-nav .nav-item .dropdown-item:hover {
        background-color: var(--bg-primary);
        color: var(--bg-primary-contrast);
        width: 100%;
        padding: 12px 6px;
        padding-left: 25px;
        margin: 0px;
    }
    .dropdown {
        box-shadow: none;
    }
 
}
/* === NAVBAR STYLE END/ ======  */



/* ===== MASTHEAD ===============*/
.masthead {
    color: #fff;
    height: auto;
    background: linear-gradient(to bottom, rgba(228, 3, 3, 0.1) 0%, rgba(248, 89, 3, 0.1) 100%), url("../assets/gallery/bg-masthead.jpg") center;
    background-size: cover;
    font-size: 14px;
    padding: 20px 0 30px 0;
    position: relative;
}
/* dimmer  */
.masthead:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 0;
}
.masthead .masthead-container .block-text {
    width: 100%;
    height: 58px;
    background-color: var(--bg-primary);
    position: absolute;
    top: 62vh;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: baseline;
}
.masthead .masthead-container {
    position: absolute;
    z-index: 4;
    box-sizing: border-box;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 12px;
}
.masthead .masthead-container h1 {
    margin: 0px 0px 10px 0px;
    font-size: 44px;
    font-weight: bold;
    line-height: 50px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container h2 {
    margin: 0px 0px 22px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container h3 {
    margin: 0px 0px 22px 0px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container .block-text p {
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-transform: uppercase;
    padding-top: 12px;
}
@media (min-width: 125px) {
    .masthead {
        height: 60vh;

    }
    .masthead .masthead-container .block-text {
        top: 58vh;
    }
    .masthead .masthead-container h1 {
        margin: 0px 0px 10px 0px;
        font-size: 46px;
        font-weight: bold;
        line-height: 52px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .masthead .masthead-container h2 {
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
    }
    .masthead .masthead-container h3 {
        margin: 0px 0px 22px 0px;
        font-size: 22px;
        line-height: 28px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-family: "Roboto", Sans-serif;
        padding-top: 10px;
    }
    .masthead .masthead-container .block-text p {
        font-size: 32px;
    }
}
@media (min-width: 990px) {
    .masthead {
        height: 68vh;
    }
    .masthead .masthead-container .block-text {
        top: 65vh;
    }
    .masthead .masthead-container h1 {
        margin: 0px 0px 20px 0px;
        font-size: 54px;
        font-weight: bold;
        line-height: 50px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .masthead .masthead-container h2 {
        margin: 0px 0px 22px 0px;
        padding-left: 15vw;
        padding-right: 15vw;
        font-size: 26px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 1.1px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    } 
    .masthead .masthead-container h3 {
        margin: 0px 0px 22px 0px;
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-family: "Roboto", Sans-serif;
    }
    .masthead .masthead-container .block-text p {
        font-size: 32px;
    }
}
/* ===== MASTHEAD END/==============*/


/* ======= MINI-MASTHEAD  ========== */
.mini-masthead {
    color: #fff;
    height: auto;
    background-size: cover;
    background: linear-gradient(rgb(11, 11, 11) 0%, rgba(0, 0, 0, 0.8) 20%), top;
    font-size: 14px;
    padding: 20px 0 30px 0;
    position: relative;
}
/* dimmer  */
.mini-masthead:before {
    content: "";
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    inset: 0;
}
.mini-masthead .mini-container h1 {
    font-size: 24px;
    margin: 2px 0 8px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(244, 239, 239);
    background: var(--bg-primary);
    background: linear-gradient(to right, #8F0303 0%, #979696 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mini-masthead .mini-container h3 {
    color: rgb(254, 254, 254);
    font-size: 1.3em;
}
.mini-masthead .mini-container h2 {
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-style: italic;
}
/* ===== MINI MASTHEAD END/============*/


/* ===== CONNECT FORM =============*/
.connect-container {
    box-sizing: border-box;
    margin: 12px auto 20px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 1100px) {
    .connect-container {
        max-width: 80vw;
    }
}
.jotform-form .form-all {
   margin: 0 auto 0 auto;
}
.connect-heading {
    margin: 0 auto 0 auto;
    width: 70vw;
}
.connect-form {
    width: 95vw;
    margin: 0 auto 0 auto;
    text-align: center;
}
.connect-container .connect-heading img {
   width: 200px; 
   margin: 0px auto 0 auto;
}
.connect-container .connect-heading h1 {
    color: var(--bg-primary);
    text-align: center;
    font-family: var(--font-primary);
}
.connect-container .connect-heading p {
    text-align: center;
    margin-right: 5px;
}
.connect-container .connect-heading .connect-content {
    display: flex;
    flex-direction: column;
}

@media (min-width: 890px) {
    .connect-container {
        flex-direction: row;
    }
    .connect-heading {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 auto 0 auto;
        width: 50vw;
    }

    .connect-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .connect-container .connect-heading h1 {
        text-align: left;
        font-size: 40px;
    }
    .connect-container .connect-heading p {
        text-align: left;
    }
    .connect-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 50vw;
    }
    .jotform-form {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-left: 5px;
    }
}
/* ===== CONNECT FORM END/ ========*/



/* == MENU ICON ==*/
.menu-icon {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--bg-nav);
}
.menu-icon:hover {
    background-color: var(--bg-primary);
}
.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 5px;
    background-color: var(--bg-icon);
    border-radius: 15px;
    margin: 6px 0;
    transition: ease 0.4s;
}
.change .bar1 { 
    transform: translate(0, 11px) rotate(-45deg);
    background-color: var(--bg-icon-hover);
} 
.change .bar2 {opacity: 0;}
      
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    background-color: var(--bg-icon-hover);
}
/* ===== MENU ICON END/ ==== */ 



/* ======== SERVICES ======== */ 

.services {
    font-family: var(--font-primary);
}
.services .row .card .card-body {
    padding: 2px 0 1px 0;; 
}
.services .section-header h2 {
    color: var(--bg-primary);
    font-weight: bold;
    font-family: var(--font-primary);
    margin: 0 0 4px 5px;
    padding-bottom: 0px;
    font-size: 28px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 3px solid var(--bg-primary);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: 0.3s;
}
.services .section-header p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 5px;
    font-family: var(--font-primary);
}
.services .row div .card {
    border: none;
}
.services .row div .card .card-body h5  {
    display: inline-block;
    font-weight: bold;
    font-family: var(--font-primary);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 0 0 3px 0;
    font-size: 20px;
    color: #fff;
    border: 3px solid var(--bg-primary);
    background-color: var(--bg-primary);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
.services .row div .card .card-body h5:hover  {
    color: rgba(245, 245, 245, 0.9);
    display: inline-block;
    transition: 0.3s;
  }
.services .row div .card .card-body h5:active  {
    box-shadow: 1px 1px gray;
}
.services .row div .card .card-body p  {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    padding-bottom:.5px;
    padding-top: 5px;
    font-size: 16px;
    display: inline-block;
    transition: 0.3s;
}
.services .row div .card .card-body img {
    border-radius: 5px;
    border: 1px solid rgb(161, 161, 161);
    box-shadow: 2px 3px 6px 2px rgb(197, 197, 197);
}
/* ===== SERVICES END/ ===== */


  
/* ======= FOOTER  ===== */
.footer {
    color: #fff;
    height: auto;
    background: linear-gradient(to bottom, rgba(228, 3, 3, 0.1) 0%, rgba(248, 89, 3, 0.1) 100%), url("../assets/logo/--bg-truck.png") center;
    background-size: cover;
    font-size: 14px;
    padding: 20px 0 40px 0;
    position: relative;
}
/* dimmer  */
.footer:before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    inset: 0;
}

.footer .footer-content .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--bg-primary);
}
  
.footer .footer-content .footer-info p strong {
    color: #fff;
}
  
.footer .footer-content .footer-info p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    font-family: var(--font-primary);
    color: #fff;
}

.footer .footer-content .footer-info p span i {
    color: var(--bg-icon);
    font-weight: bold;
    font-size: 22px;
    padding: 2px;
}
  
.footer .footer-content .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
  
.footer .footer-content .social-links a:hover {
    background: var(--bg-primary);
    text-decoration: none;
}
.footer .footer-content .social-links img {
    width: 32px;
    height: 22px
}
.footer .footer-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}
  
.footer .footer-content .footer-links {
    margin-bottom: 10px;
}
  
.footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer .footer-content .footer-links ul li {
    padding: 1px 0;
}
  
.footer .footer-content .footer-links ul li:first-child {
    padding-top: 0;
}
  
.footer .footer-content .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
  
.footer .footer-content .footer-links ul a:hover {
    color: #fff;
}
/* ===== FOOTER END/ ===== */
  
 

/* =========== MAIN ============ */
.main .main-content h1 {
    font-family: "Roboto", Sans-serif;
    background-color: var(--bg-primary-dark);
    border-radius: 5px;
    color: var(--bg-primary-contrast);
    padding: 10px;
    margin: 20px auto 20px auto;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 4px 4px 28px 2px rgb(184, 184, 184);
    width: 100%;

}
.main .main-content .main-content-info p {
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    line-height: 38px;
    font-weight: 500;
    padding: 10px;
    color: #000000;
}
 /* ======== MAIN END/ ========= */
  


/* =========== SIDEBAR ============ */

.sidebar .sidebar-card .sidebar-title h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 1.01px;
    background-color: var(--bg-primary-off);
    border-radius: 25px;
    color: var(--bg-primary-contrast);
    box-shadow: 3px 8px 22px 4px rgba(86, 17, 17, 0.3);
    border: 1px solid black;
    margin: 38px auto 48px auto;
    padding: 28px 10px 20px 10px;
    max-width: 320px;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 1.03px;
}
.sidebar .sidebar-card .sidebar-title h2 span {
    font-size: 42px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 1.3px;
    font-style: italic;
    color: var(--bg-icon-hover);
    text-shadow: 1px 1px 3px black;
}
.sidebar .sidebar-card .sidebar-info p {
    /* background-color: aqua; */
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
    letter-spacing: 1.03px;
    color: #2d2b2b;
    line-height: 42px;
    font-size: 20px;
    font-weight: 700;
    padding: 32px 9px 40px 9px;
    text-align: center;
}
.sidebar .sidebar-card .sidebar-info .sidebar-img {
    margin-top: 28px;
    border: none;
}
 /* ======== SIDEBAR END/ ========= */

 

 /* =============== AD ============ */
.ad .ad-card .ad-title h2 {
    /* font-family: "Roboto", Sans-serif; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
    line-height: 60px;
    background-color: var(--bg-primary-off);
    border-radius: 25px;
    color: var(--bg-icon-hover);
    box-shadow: 12px 12px 36px 8px rgba(126, 123, 123, 0.8);
    border: 1px solid rgba(15, 14, 9, 1);
    margin-top: 38px;
    margin: 38px auto 48px auto;
    padding: 28px 10px 30px 10px;
    max-width: 320px;
    text-align: center;
    text-shadow: 1px 1px 3px var(--text-black);
}
.ad .ad-card .ad-info p {
    font-family: var(--font-primary);
    color: var(--text-black);
    line-height: 32px;
    font-size: 18px;
    padding: 32px 9px 40px 9px;
    text-align: center;
}
.ad .ad-card .ad-title h2 span {
    font-size: 44px;
    font-weight: 500;
    line-height: 50px;
    color: var(--bg-primary-contrast);
    text-shadow: 2px 2px 6x var(--text-black);
    text-transform: none;
    letter-spacing: 1.3;
}
.ad .ad-card .ad-img {
    padding-top: 2px;
    width: 266px;
    border: none;
    vertical-align: top;
    margin: 0 auto 0 auto;
}
.ad .ad-card .ad-img img {
    box-shadow: 12px 12px 36px 8px rgba(163, 157, 157, 0.8);
    border: 2px solid rgb(92, 92, 92);
}

/* ============ AD END/ ========= */



/* =========== ABOUT ============= */ 
.about {
    background-color: #9d950b;
}
.about-card {
    background-color: #c5c5c5;
    width: 60vw;
}
/* ========= ABOUT END/ ========== */



/* ====== CONTACT ========  */
/* repsonsive  */
.content-about {
    display: block
}

@media (min-width: 875px) {
    .content-about {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }  
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
@media (min-width: 600px) {
    .content-about {
        width: 90vw;
        margin: 0 auto 0 auto;
    }
    .contact-container {
        width: 64vw;
        margin: 5px auto 0 auto;
        border: 0px solid rgb(8, 226, 62);
    }
}
.contact {
    border: 0px solid pink;
}
.contact-container {
    width: 95%;
    margin-top: 5px;
}
@media (max-width: 877px) {
    .contact-container {
        width: 83vw;
        margin: 5px auto 0 auto;
        border: 0px solid rgb(8, 226, 62);
    }
}
.contact-container .contact-card {
    border: 0px solid pink;
}
.contact-container .contact-card .card-info {
    margin: 1px;
} 
.contact-container .contact-card .card-info .baseline {
    display: flex;
    align-items: center;
}
.contact-container .contact-card .card-info h3 {
    font-size: 20px;
    margin-left: 8px;
    text-transform: uppercase;
    border-bottom: 0px solid var(--bg-primary);
}
.contact-container .contact-card .card-info span {
    margin-right: 18px;
    margin-top: 8px;
}
.contact-container .contact-card .card-info span i {
    font-size: 28px;
    background-color: var(--bg-primary);
    border: 2px solid #000000;
    box-shadow: 8px 8px 18px 2px rgb(210, 210, 210);
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    color:#ffffff;
}
.contact-container .contact-card .card-info p {
    margin-left: 82px;
    line-height: 1.25;
}
.contact-container .contact-card .card-info ul {
    list-style: none;
}
.contact-container .contact-card .card-info ul  li {
    margin-left: 44px;
    line-height: 1.25;
}
/* payments split  */
.contact-container .contact-group {
    max-width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
}
.contact-group .card-title {
    width: 280px;
    height: 150px;
}
.contact-group .card-img {
    width: 150px;
    height: 110px;
    padding: 5 auto 5 auto;
}
/* ==== CONTACT END/========  */

/* ========= MAINTENANCE =============== */
.maintenance {
    background-color: #fafafa;
    padding: 10px 15px 10px 15px;
    margin: 15px auto 15px auto;
    font-family: var(--font-secondary);
    border: 3px solid rgb(202, 43, 43);
    box-shadow: 12px 12px 36px 4px rgb(122, 122, 122);
}
.maintenance h1 {
    margin-bottom: 15px;
    padding: 25px 2px 25px 2px;
    border-bottom: 2px solid var(--bg-primary) ;
}
.maintenance p {
    padding-left: 15px;
}
.maintenance ul li {
    margin-left: 25px;
    padding-left: 5px;
}



/* ====== MAINTENANCE END/ ============= */


/* =========== MODAL ============= */
.modal .modal-content {
    background-color: #e4e3e3;
}
.modal-content .modal-header {
    background-color: var(--bg-primary);
    border-bottom: 1px solid var(--bg-primary-dark);
    box-shadow: 0px 2px 2px var(--bg-primary-off);

}
.modal-content .modal-header .modal-title {
    font-weight: 400;
    font-family: "Roboto", Sans-serif;
    margin: 0 0 1px 5px;
    padding-bottom: 0px;
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px solid var(--bg-primary-contrast);
    transition: 0.3s;
 }
 .modal-content .modal-header button {
    border: none;
    border-radius: 0;
    background-color: #e4e3e3;
 }
.modal-content .modal-body .schedule-message h5 {
    font-family: "Roboto", Sans-serif;
    margin: 0 0 6px 0;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(192, 192, 192);
    font-size: 19px;
 }
.modal-content .modal-body .schedule-message a {
    font-family: "Roboto", Sans-serif;
    padding-bottom: 8px 16px 2px 16px;
    font-size: 17px;
    color: white;
 }
.modal-content .modal-footer button {
    padding: 4px 22px 4px 22px;
    margin: 0px 0px 0px auto;

 }
/* ======== MODAL END/ ========== */



/* ========= JOTFORM ===============  */
div.form-header-group.header-default {
    background-color: var(--bg-primary);
}
h2#header_14.form-header {
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
}
.form-all .form-textbox,
.form-all .form-text {
    -webkit-border-radius: 0px !important; 
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
/* ========= JOTFORM END/ ============  */



/* ===== CONNECT FORM =============*/
.connect-container {
    box-sizing: border-box;
    /* margin: 12px auto 20px auto; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
@media (min-width: 1100px) {
    .connect-container {
        max-width: 80vw;
    }
}
.jotform-form .form-all {
   margin: 0 auto 0 auto;
}
.connect-heading {
    /* padding: 2px 10px 0px 10px; */
    margin: 0 auto 0 auto;
}
.connect-form {
    margin: 0 auto 0 auto;
    text-align: center;
}
.connect-container .connect-heading img {
   width: 200px; 
   margin: 0px auto 0 auto;
}
.connect-container .connect-heading h1 {
    color: var(--bg-primary);
    text-align: center;
    font-family: var(--font-primary);
}
.connect-container .connect-heading p {
    text-align: center;
    margin-right: 5px;
}
.connect-container .connect-heading .connect-content {
    display: flex;
    flex-direction: column;
}

@media (min-width: 890px) {
    .connect-container {
        flex-direction: row;
    }
    .connect-heading {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 auto 0 auto;

    }

    .connect-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .connect-container .connect-heading h1 {
        text-align: left;
        font-size: 40px;
    }
    .connect-container .connect-heading p {
        text-align: left;
    }
    .connect-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto 0 auto;
        /* width: 50vw; */
    }
    .jotform-form {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-left: 5px;
    }
}

/* ===== CONNECT FORM END/ ========*/

