:root{
    --text-primary: rgba(51, 51, 51, 1);
    --text-secondary: rgba(163, 30, 30, 1);
    --text-alert: rgba(226, 206, 19, 1);
    --text-info: rgba(19, 167, 226, 1);
    --text-black: rgb(15, 15, 15);
    --text-white: rgb(240, 240, 240);
    --text-success: rgb(57, 163, 30);
    
    --bg-primary: rgba(163, 30, 30, 1);
    --bg-primary-hover: rgba(163, 30, 30, .9);

    --bg-active: rgba(109, 35, 35, 0.7);
    --bg-alert: rgba(226, 206, 19, 1);
    --bg-white: rgb(255, 255, 255);
    --bg-dark: rgba(51, 51, 51, 1);
    --bg-light: rgb(184, 184, 184);


    --font-primary: font-family: 'Montserrat', sans-serif;
  
  
    /* CONTAINER HEIGHT ADJUSTMENTS */
    --banner-bar-height: 33px;
    --banner-height: 250px;
    --nav-height: 80px;
    --wrapper-height: 1000px;
    --footer-height: 35px;
}
.bg-main {
    background-color: rgba(163, 30, 30, 1);
}
/* FONTS  */
.text-roboto {
    font-family: "Roboto", Sans-serif;
}

.text-elite {
    font-family: 'Special Elite', cursive;
}

/* BUTTONS  */
.btn-outline-red {
    display: inline block;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.5px;
    padding: 10px 18px;
    border-radius: 3px;
    border: 3px solid var(--bg-primary);
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.btn-outline-red:hover {
    background-color: rgba(163, 30, 30, .8);
    border: 3px solid rgba(163, 30, 30, 1);
    color: white;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--text-black);

}

/* 4 CONTAINERS .BANNER .NAV-BAR .WRAPPER */
.banner {
    max-height: var(--banner-height);
    width: 100%;
    margin: 0px;
    padding: 0px;
} 
.nav-bar {
    width: 100%;
    background-color: var(--bg-primary);
    margin: 0px;
    padding: 0px;
} 
.container-fluid {
    margin:0px;
    padding:0px;
}
.wrapper {
    height: var(--wrapper-height);
    margin: 0px;
    padding: 0px;
}   
.navbar {
    margin: 0px;
    padding: 0px;
    z-index: 1000;
}
/* NAV-BAR FIXED AT BANNER HEIGHT WITH JS */
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;

}
.footer {
     position: fixed;
     bottom: 0px;
     height: var(--footer-height);
     width: 100%;
     overflow: hidden;
     z-index: 99000;
     /* background-color: #333; */
}

/* === BANNER STYLE =========  */
.banner-bar {
    background-color: #333;
    box-shadow: 1px 2px 2px 0px gray;
    margin-bottom: 3px;
    height: var(--banner-bar-height);
    width: 100vw;
    transition: linear height 300ms;
}

/* remove second image mobile  */
@media (max-width: 760px) {
    #bannerImg2 {
        display: none;
    }
}
/* === BANNER END/  =========  */



/* ======== NAVBAR ============  */

/* responsive menu  */
.navbar-nav {
    background-color: var(--bg-primary);
    margin: 0px;
    box-shadow: 1px 3px 5px 3px rgba(75, 12, 12, 0.7);
}
.nav-bar .active {
    box-sizing: border-box;
    background-color: rgba(163, 30, 30, 1);
    padding-left: 0px;
    margin: 0px;
    margin-right: 25px;
    color: white;
}

.navbar-nav .nav-item .nav-link {
    color:rgb(5, 5, 5);
    padding: 8px 6px;
    padding-left: 25px;
    margin: 0px;
}
.nav-bar .navbar-collapse .navbar-nav {
    box-sizing: border-box;
}
.nav-bar .navbar-collapse ul .active > .nav-link {
    color: white;
} 
/* top links but not last  */
.navbar-nav .nav-item .nav-link:not(:last-child){
    /* box-shadow: 1px 0px 1px 1px black; */
}
.navbar-nav .nav-item .nav-link:not(:last-child):hover
 {  
    background-color: var(--bg-primary);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 8px 6px;
    padding-left: 25px;
    margin-right: 25px;
}
.navbar-nav .nav-item .active {
    color: white;
}
/* drop down link  */
.dropdown {
    box-sizing: border-box;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    margin-left: 25px;
    margin-right: 25px;
}

.navbar-nav .nav-item .dropdown-item {
    padding: 8px 6px;
    padding-left: 25px;
    margin: 0px;
}
.navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
    color: rgb(0, 0, 0);
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.navbar-collapse .navbar-nav .nav-item:nth-last-child(1):hover {
    background-color: var(--bg-primary);
    color: white;
}
.dopdown-menu a:hover {
    background-color: rgb(129, 26, 26);
    padding-left: 25px;
    margin: 0px;
}
.dropdown-item {
    padding: 8px 6px;
    margin: 0px;
}
.dropdown-item:hover {
    background-color: var(--bg-primary);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 8px 6px;
    margin: 0px;
}
.navbar-collapse .navbar-nav .nav-item:nth-last-child(1) .nav-link:hover {
    color: white;   
}
/* full menu  */
@media (min-width: 960px) {
    .navbar-nav {
        background-color: var(--bg-primary);
        margin: 8px;
        box-shadow: 0 0 0 0;  
    }
    .nav-bar .active {
        background-color: rgba(163, 30, 30, 1);
        box-shadow: 0 0 0 0;
        padding-left: 0px;
        margin: 0px;
    }
    div .dropdown-menu {
        border: 4px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px 0px rgba(97, 97, 97, .4);
        margin: 0px;
    }
    .nav-bar .navbar-brand{
        box-sizing: border-box;
    }
    .navbar-nav .nav-item .nav-link:not(:last-child):hover { 
        color:rgb(15, 15, 15);
        letter-spacing: px;
        font-weight: bold;
        padding: 1px 16px;
        padding-left: 25px;
        margin: 0px;
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
        color: rgb(0, 0, 0);
        border-radius: 0px;
        background-color: rgb(255, 255, 255);
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1):hover {
        background-color: var(--bg-primary);
        color: rgb(255, 255, 255);
    }
    .navbar-nav .nav-item .nav-link {
        color:rgb(15, 15, 15);
        letter-spacing: px;
        font-weight: bold;
        padding: 1px 16px;
        padding-left: 25px;
        margin: 0px;
    }

    .navbar-nav .nav-item .nav-link:hover {
        background-color: var(--bg-primary);
        color: white;
        width: 100%;
        padding: 1px 16px;
        padding-left: 25px;
        margin: 0px;
    }
    .navbar-nav .nav-item .active {
        color: white;
    } 
    .navbar-nav .nav-item a {
        padding: 8px 16px;
        padding-left: 25px;
        background-color: var(--bg-primary);
    } 
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
        margin: 0px;
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1):hover {
        margin: 0px;
    }
    .navbar-nav .nav-item .dopdown-menu {
        padding: 12px 16px;
        padding-left: 25px; 
        margin: 0px;
    }
    .navbar-nav .nav-item .dopdown-menu a:hover {
        background-color: rgb(255, 255, 255);
        padding: 12px 6px;
        padding-left: 25px;    
        background-color: white;
        margin: 0px;
    }
    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        padding: 12px 6px;
        padding-left: 25px;
        background-color: white;
        margin: 0px;
    }
    .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: rgb(233, 233, 233);   
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) .nav-link:hover {
        color: rgb(233, 233, 233);   
    }
    .navbar-nav .nav-item .dropdown-item:hover {
        background-color: var(--bg-primary);
        color: white;
        width: 100%;
        padding: 12px 6px;
        padding-left: 25px;
        margin: 0px;
    }
 
}
/* === NAVBAR STYLE END/ ======  */



/* ===== MASTHEAD ===============*/
.filter {
    -webkit-filter: brightness(98%) contrast(59%) opacity(88%) saturate(99%);
    filter: brightness(98%) contrast(59%) opacity(88%) saturate(99%);
}
  
.masthead {
    box-sizing: border-box;
    width: 100vw;
    height: 66vh;
    /* background: linear-gradient(to bottom, rgba(187, 185, 185, 0.4) 0%, rgba(194, 84, 26, 0.7) 100%), url("../assets/gallery/bg-masthead.jpg") top center; */
    background-image: url("../assets/gallery/bg-masthead.jpg");

    background-size: cover;
    position: relative;
}
.masthead .masthead-container .block-text {
    width: 100vw;
    height: 58px;
    background-color: var(--bg-primary);
    position: absolute;
    top: 62vh;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: baseline;
}
.masthead::before {
    content: "";
    background: rgba(35, 35, 35, .8);
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
}
.masthead .masthead-container {
    position: absolute;
    z-index: 4;
    box-sizing: border-box;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 15px;
}
.masthead .masthead-container h1 {
    margin: 0px 0px 10px 0px;
    font-size: 50px;
    font-weight: bold;
    line-height: 58px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container h2 {
    margin: 0px 0px 22px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container h3 {
    margin: 0px 0px 22px 0px;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container .block-text p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 12px;
}
@media (min-width: 580px) {
    .masthead {
        height: 60vh;
    }
    .masthead .masthead-container .block-text {
        top: 56vh;
    }
    .masthead .masthead-container h1 {
        margin: 0px 0px 10px 0px;
        font-size: 52px;
        font-weight: bold;
        line-height: 52px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .masthead .masthead-container h2 {
        font-size: 22px;
        font-weight: 500;
        line-height: 40px;
        text-transform: uppercase;
    }
    .masthead .masthead-container h3 {
        margin: 0px 0px 22px 0px;
        font-size: 30px;
        font-weight: 500;
        line-height: 38px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-family: "Roboto", Sans-serif;
    }
    .masthead .masthead-container .block-text p {
        font-size: 42px;
    }
}
@media (min-width: 990px) {
    .masthead {
        height: 58vh;
    }
    .masthead .masthead-container .block-text {
        top: 54vh;
    }
    .masthead .masthead-container h1 {
        margin: 0px 0px 20px 0px;
        font-size: 60px;
        font-weight: bold;
        line-height: 50px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .masthead .masthead-container h2 {
        margin: 0px 0px 22px 0px;
        padding-left: 15vw;
        padding-right: 15vw;
        font-size: 30px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 1.1px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    } 
    .masthead .masthead-container h3 {
        margin: 0px 0px 22px 0px;
        font-size: 36px;
        font-weight: 500;
        line-height: 40px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-family: "Roboto", Sans-serif;
    }
    .masthead .masthead-container .block-text p {
        font-size: 52px;
    }
}
/* ===== MASTHEAD END/============*/



/* ===== CONNECT FORM =============*/
.connect-container {
    box-sizing: border-box;
    margin: 2px auto 10px auto;
    border: 2px solid #333;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.connect-heading {
    padding: 50px 10px 0px 10px;
    margin: 0 auto 0 auto;
    width: 70vw;
}
.connect-form {
    width: 70vw;
    margin: 0 auto 0 auto;
    text-align: center;
}
.connect-container .connect-heading img {
   width: 200px; 
   margin: 0px auto 0px auto;
}
.connect-container .connect-heading h1 {
    color: var(--bg-primary);
    text-align: center;
    font-family: var(--font-primary);
}
.connect-container .connect-heading p {
    text-align: center;
    padding-left: 20px;
}
.connect-container .connect-heading .connect-content {
    display: flex;
    flex-direction: column;
}

@media (min-width: 990px) {
    .connect-container {
        flex-direction: row;
    }
    .connect-heading {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 auto 0 auto;
        width: 50vw;
    }

    .connect-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .connect-container .connect-heading h1 {
        text-align: left;
        padding-left: 100px;
        font-size: 40px;
    }
    .connect-container .connect-heading p {
        text-align: left;
        padding-left: 100px;
    }
    .connect-container .connect-heading img {
        margin-left: 100px;
    }
    .connect-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 50vw;
    }
    .jotform-form {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-left: 5px;
    }
}

/* ===== CONNECT FORM END/ ========*/



/* == MENU ICON ==*/
    /* (container) .menu-icon  <-- bar(x) */

    .menu-icon {
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        background-color: var(--bg-nav);
    
    }
    .menu-icon:hover {
        background-color: var(--bg-primary);
    }
      
    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 5px;
        background-color: rgba(219, 219, 219, 1);
        border-radius: 15px;
        margin: 6px 0;
        transition: ease 0.4s;
    }
      
    .change .bar1 { 
        transform: translate(0, 11px) rotate(-45deg);
        background-color: rgba(255, 255, 255, 0.8);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
        background-color: rgba(255, 255, 255, 0.8);
    }
/* == MENU ICON END/== */ 
    
    